* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 15px ‘Century Gothic’, Verdana, Geneva, sans-serif;
}
h1 {
    text-align: center;
    margin: 6% auto 3%;
    color: #901;
}
#wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
input {
    margin: 1em auto;
    border: .4em solid #55f;
    border-radius: 5em;
    padding: 1em 10%;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 10px 10px 16px #555;
}
input[type="button"] {
    color: #444;
    font: 1.5em  Geneva, sans-serif;
}
